* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 800;
}

.navbar {
  background-color: #fff;
  padding: 10px;
  height: 75px;
  box-shadow: 2px 23px 30px -18px rgba(0, 0, 0, 0.39);
  position: relative;
}

.container {
  background-color: #e6e6fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 90%;
  float: right;
  padding-top: 5px;
}

.beginner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0 10px;
  background: #fff;
  width: 300px;
  height: 40px;
  margin-top: 10px;
}

.etc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.etc a {
  padding-right: 50px;
  text-decoration: none;
}

.icon {
  display: flex;
  align-items: center;
}

.courses {
  padding-left: 80px;
}

.search img {
  height: 50px;
  width: 50 px;
  border-radius: 50%;
  line-height: 50;
}

.middle {
  width: 70%;
  background-color: #e5e5e5;
  margin: auto;
  height: calc(100vh - 75px);
}
